.navbar-items {
    background: linear-gradient(90deg, rgb(96, 82, 219) 0%, rgb(81, 74, 221) 100%);
    height: 80px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 1.2rem;
}
.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    margin-left: 20px;
}
.fa-bars {
    color: #fff;
}
.signout-button {
    position: absolute;
    right: 20px;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #3acbf7;
    color: #fff;
}
.signout-button:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #fff;
    color: #6568F4;
    transition: 550ms;
}

.menu-icon {
    display: none;
}
.nav-menu {
    display: none;
}

@media screen and (max-width: 960px) {
    .navbar-items {
        position: relative;
    }
    .signout-button {
       display: none;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 70%);
        font-size: 1.5rem;
        cursor: pointer;
    }
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
    .nav-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .signout-button-nav {
        display: block;
        text-align: center;
        padding: 10px;
        border-radius: 4px;
        outline: none;
        border: none;
        width: 30%;
        background: #4ad9e4;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 150px;
        /* margin-right: 70px; */
    }
    .signout-button-nav:hover {
        background: #fff;
        color: #6568F4;
        transition: 550ms;
    }
}